{% extends 'store/base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About NextGen Shop</h1>
      <p class="lead fw-normal text-white-50 mb-0">Buy Future Phone Today</p>
    </div>
  </div>
</header>
<div class="container">
  <div>
    <center>
      <div class="col-8">
        <br />
        <br />
        <p align="justify">
          Welcome to NextGen Mobiles, your trusted destination for the latest
          mobile phones and accessories. We are passionate about connecting you
          with the world through cutting-edge technology. Our carefully curated
          selection features top brands and the newest models, all at
          competitive prices.
          <br />
          <br />
          <br />
          At NextGen Mobile, we pride ourselves on exceptional customer service,
          fast shipping, and a seamless shopping experience. Whether you're
          looking for the latest smartphone or essential accessories, our
          dedicated team is here to help you every step of the way. Discover the
          future of mobile with us today!
          <br />
          <br />
        </p>

        <p></p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
