{% extends 'store/base.html' %} 
{% load store_formula %}
{% block content %}
</br>
<div class = "row justify-content-center" >
<table class = "table table-light padding: 0.5rem 0.5rem " style="width: 60%;">
    <tr>
        <th>Product</th>
        <th>No of units</th>
        <th>Unit price</th>
        <th>Unit Total</th>
        <th>Image</th>
        <th>Delete</th>
    {% for item in cart_items %}
    <tr>
        <div>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td class="text-end">${{ item.product.sale_price }}</td>
            <td class="text-end">${{item.product.sale_price|multiply:item.quantity|floatformat:2 }}</td>
            <td style="text-align: center;" ><img style="width: 50px;" src="{{item.product.image.url}}" alt="..." /></td>
            <td><a class="btn btn-secondary" href="{% url 'remove_from_cart' item.id %}">Remove</a>          
            </td>
        </div>
    </tr>

    {% empty %}
        <h3 class = "row justify-content-center" >Your cart is empty.</h3>
    {% endfor %}

    </div>
    <tr>
        <td></td>
        <td></td>
        <td> Total Price </td>
        <td class="text-end"> ${{ total_price }} </td>
        <td> <a class="btn btn-outline-dark mt-auto" href="{% url 'shop' %}">Continue Shopping</a></td>
        <td></td>
    </tr>
</table> 
</br>
</br>
{% endblock %}
