{% extends 'store/base.html' %} {% block content %}
<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  {% include 'user_accounts/profile_navi_bar.html' %}
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Order List</div>
        <div class="card-body">
          <!-- Display orders-->
          <table class="table table-striped" style="width: 100%">
            <thead>
              <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Total</th>
                <th>Pay Status</th>
                <th>Details</th>
                <th>Action</th>
                <!-- New column for payment action -->
              </tr>
            </thead>
            <tbody>
              {% for order in orderlist %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date }}</td>
                <td>${{ order.total }}</td>
                <td>{{ order.status }}</td>
                <td>
                  <a
                    class="btn btn-primary"
                    href="{% url 'order_details' order.id %}"
                    >View Order</a
                  >
                </td>
                <td>
                  {% if order.status == 'unpaid' %}
                  <!-- Only show Pay Now button if the order is not paid -->
                  <a
                    class="btn btn-success"
                    href="{% url 'order_details' order.id %}"
                    >Pay</a
                  >
                  {% else %}
                  <!-- Show a message if the order is not unpaid -->
                  <span class="text-success">{{ order.status }}</span>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6">You don't have any orders yet.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Shop button -->
          <a class="btn btn-primary" href="{% url 'shop' %}">Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
