{% extends 'store/base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Our Customer Reviews</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        What our customers say about us
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div>
    <center>
      <div class="col-8">
        <br />
        <br />
        <p align="justify">
          I am Happy to share my experience of Future Phone Shop!
        </p>

        <p></p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
