{% extends 'store/base.html' %}

{% block staff_base %}
<div class="d-flex justify-content-center">
    <ul class="nav nav-pills">
      {% if perms.staff_module.view_order %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_order' %}">View Order</a>
          </li>
      {% endif %}
      {% if perms.staff_module.add_product %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
      </li>
      {% endif %}
      {% if perms.staff_module.change_product %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'edit_product' %}">Edit Product</a>
      </li> 
      {% endif %}
      {% if perms.staff_module.add_user %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_user' %}">Add User</a>
      </li>
      {% endif %}
      {% if perms.staff_module.change_user %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_user' %}">View Users</a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>


{% endblock %}
